{% extends 'base.html' %}
{%load crispy_forms_tags%}

{%block title%} Add Content {%endblock%}


{%block content%}

<form  method="post" action="{% url 'yazi-ekle' %}" class="form-group" enctype="multipart/form-data">
    {{ form.non_field_errors }}
    {%csrf_token%}
    {{ form.media }} <!---ck editor eklemek için -->
    {{form | crispy}}


    <input type="submit" class = "btn btn-light" value="Yazı Ekle!"
     style="margin-top: 25px;margin-bottom: 25px; padding: 15px;">


</form>

{%endblock%}