{% load kategori_list %}
{%kategori_list as kategoriler%}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{%url 'anasayfa'%}">Rainblog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          {%if kategoriler%}
          {%for kategori in kategoriler%}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'kategori' kategoriSlug=kategori.slug%}">{{kategori.isim}}</a>
          </li>
          {%endfor%}
          {%else%}
          <h1>There is no Category.</h1>
          {%endif%}
          
         
         
          
        </ul>
        <form class="d-flex" action="{%url 'anasayfa'%}">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  name="sorgu">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
        
          <a href="{% url 'iletisim' %}" style="text-decoration: none; margin-left: 10px;" class="btn btn-danger" >
            Bize Ulaşın
          </a>
        
      </div>
    </div>
  </nav>